<footer class="footer" id="contact">
  <div class="container-fluid">
    <div style="display:block;overflow:hidden;height:100%;">
    	<a href="https://www.linkedin.com/in/sahil-gharte-566885192/" target="_blank"><i class="fab fa-linkedin footer-icon fa-2x footer-icon"></i></a>
	    <span style="color:white;font-weight:20px;">/</span>
	    <a href="mailto:sahilgharte04@gmail.com?subject" target="_blank"><i class="fas fa-envelope fa-2x footer-icon footer-icon"></i></a>
    </div>
    <span style="color:white;font-weight:20px;display:block">(Sahil Gharte)</span>
    <span style="color:white;font-weight:20px;">OR</span>
    <span style="color:white;font-weight:20px;display:block">(Aman Sabale)</span>
    <div style="display:block;">
    	<a href="https://www.linkedin.com/in/aman-sabale/" target="_blank"><i class="fab fa-linkedin footer-icon fa-2x footer-icon"></i></a>
	    <span style="color:white;font-weight:20px;">/</span>
	    <a href="mailto:amansabale007@gmail.com?subject" target="_blank"><i class="fas fa-envelope fa-2x footer-icon footer-icon"></i></a>
    </div>
    <p class="footer-p">© Made With ❤️ by Sahil & Aman</p>
  </div>
</footer>
</body>




</html>
