 <%- include('partials/header') %>
 <%- include('partials/nav-bar') %>

 <section class="nav-bar">
      <div class="container-fluid">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark navbar-style">
          <a class="navbar-brand nav-name navbar-link" href="/">SUP</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link navbar-link" href="/register" role="button">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link navbar-link" href="/login" role="button">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link navbar-link" href="/htu">How to Use </a>
              </li>
              <li class="nav-item">
                <a class="nav-link navbar-link" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </section>

    <section class="htu" style="text-align:center;margin:5px;">
      <div class="container-fluid">
        <h1 class="font-weight-bold main-pointer">How To Use!</h1>
        <hr>
        <ul>
          <h2 class="font-weight-bold main-pointer">How To Download the Files Uploaded By Students!</h2>
          <ul class="list-style">
            <li class="small-pointer"><i class="fas fa-check "></i> Get Down to the respective College.</li>
            <li class="small-pointer"><i class="fas fa-check"></i> Search for the Documents you want.</li>
            <li class="small-pointer"><i class="fas fa-check"></i> Download!.</li>
          </ul>
          <h2 class="font-weight-bold main-pointer">How Upload To Files?</h2>
          <ul class="list-style">
            <li class="small-pointer"><i class="fas fa-check"></i> Contact the respective college Admins, to make them upload your files.</li>
            <li class="small-pointer"><i class="fas fa-check"></i> Make sure , the flies are helpful to other Students.</li>
            <li class="small-pointer"><i class="fas fa-check"></i> List of Respective College Admin's!</li>
            <ul class="list-style">
              <li class="small-pointer"><i class="fas fa-users-cog"></i>SITRC</li>
              <li class="small-pointer"><i class="fas fa-users-cog"></i>SIEM</li>
              <li class="small-pointer"><i class="fas fa-users-cog"></i>DIPLOMA</li>
              <li class="small-pointer"><i class="fas fa-users-cog"></i>PHARMACY</li>
            </ul>

          </ul>
        </ul>

      </div>
    </section>


    <%- include('partials/footer') %>
